html {
  height: 100%;
}
html,
body {
  font-family: monospace;
  text-align: center;
}
input {
  margin: 3px;
}
.container {
  width: 70%;
  margin: 0 auto;
  pointer-events: none;
}

.title {
  margin-top: 35px;
}

